.devise-login {
  position: fixed;
  width: 80%;
  top: 10%;
  left: 32%;
}

.devise-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sign-up {
  padding-top: 1.5em;
}
